/**
*
* CSS da LANDING PAGE do E2
* DEZEMBRO 2018
*
*/

/*=============================================
=                    RESET                    =
=============================================*/

/* LIMPAR ESTILOS QUE VEM POR DEFEITO EM TODOS OS BROWSERS PARA REDUZIR INCONSISTENCIAS */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*=====  End of RESET  ======*/

/*=============================================
=                    FONTS                    =
=============================================*/

@font-face {
    font-family: 'Avenir Next Bold';
    src: url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.eot');
    src: local('Avenir Next LT Pro Bold Condensed'), local('AvenirNextLTPro-BoldCn'), url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.eot?#iefix') format('embedded-opentype'), url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.woff2') format('woff2'), url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.woff') format('woff'), url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.ttf') format('truetype'), url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.svg#AvenirNextLTPro-BoldCn') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../media/fonts/AvenirLTStd-Light.eot');
    src: local('Avenir LT Std 35 Light'), local('AvenirLTStd-Light'), url('../media/fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'), url('../media/fonts/AvenirLTStd-Light.woff2') format('woff2'), url('../media/fonts/AvenirLTStd-Light.woff') format('woff'), url('../media/fonts/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
/*=====  End of FONTS  ======*/

/*=============================================
=                   VARIABLES                 =
=============================================*/

:root {
    --color-grey_dark: #1d1e1c;
    --color-black: #000;
    --color-grey_middle: #b1b1b1;
    --color-grey_light: #e6e5e5;
    --color-red: #e8423a;
    --color-green: #39b080;
    --color-green_dark: #309971;
    --color-yellow: #fcc347;
    --color-blue: #3a79bd;
    --color-blue_dark: #3073aa;
    --color-blue_darker: #063759;
    --color-white: #ffffff;
    --font-primary: 'Avenir Next Bold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-secondary: 'Roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --polygon-top-bottom: 0 90px , 100% 0, 100% calc(100% - 90px), 0 100%;
}

.bg--black{
    background-color: var(--color-black)
}

/*=====  End of VARIABLES  ======*/

/*=============================================
=               GENERAL STYLES                =
=============================================*/

* {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    background-color: var(--color-grey_light);
    overflow-x: hidden;
}

img {
    height: 100%;
}

h2, h3, h6 {
    font-family: var(--font-primary);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-white);
}

h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

h3 {
    padding: 10px 20px;
    -webkit-transform: skew(-8deg) rotate(-4.5deg);
        -ms-transform: skew(-8deg) rotate(-4.5deg);
            transform: skew(-8deg) rotate(-4.5deg);
    font-size: 1.6em;
}

h6 {
    font-size: .9em;
    padding: 10px;
}

h6:hover {
    background-color: var(--color-white);
    color: var(--color-grey_dark);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

p {
    font-family: var(--font-secondary);
    margin-bottom: 10px;
    line-height: 1.2em;
}

.text-center{
    margin: 0 auto;
    text-align: center;
}

.content-max-width{
    max-width: 960px;
}

button, .button {
    padding: 15px 25px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    color: var(--color-white);
    font-family: var(--font-primary);
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    margin: 42px auto;
    font-size: 1rem;
}

.button--red:hover, .button--blue:hover, .button--green:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.button--red {
    background-color: var(--color-red);
}

.button--blue {
    background-color: var(--color-blue);
}

.button--grey {
    background-color: var(--color-grey_dark);
}

.button--green{
    background-color: var(--color-green)
}

.button--cta {
    margin: 30px;
    padding: 10px 30px;
    font-size: 1.2em;
}

.button--cta:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.buttons {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
}

.button {
    margin: 0px 10px;
}

.container {
    display: block;
}

.white {
    color: var(--color-white);
}

.bg--red {
    background-color: var(--color-red);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.bg--blue {
    background-color: var(--color-blue);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.bg--green {
    background-color: var(--color-green);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.bg--green--dark {
    background-color: var(--color-green_dark)
}

.bg--yellow {
    background-color: var(--color-yellow);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.bg--grey_dark {
    background-color: var(--color-grey_dark);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.bold {
    font-weight: bold;
}

.bg--grey--dark {
    background-color: var(--color-grey_dark)
}


/*=====  End of GENERAL STYLES  ======*/

/*=============================================
=                 GRID SYSTEM                 =
=============================================*/

._1col {
    display: -ms-inline-grid;
    display: inline-grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

._2col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: 1;
    max-width: 960px;
    margin: auto;
    padding: 40px 0px;
}

/*=====  End of GRID SYSTEM  ======*/

/*=============================================
=                NAVIGATION BAR               =
=============================================*/

.navigation {
    background-color: var(--color-grey_dark);
    opacity: 1;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 20px 3fr 20px 1fr;
    grid-template-columns: 0.5fr 3fr 1fr;
    grid-gap: 20px;
    height: 70px;
    /* justify-items: center; */
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 100;
    width: 100vw;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.navigation{
    opacity: 0;
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    pointer-events: none;
    z-index: -1;
 }
 
 .visible{
     opacity: 1 !important;
     -webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
     z-index: 100;
     pointer-events: all;
 }
 
 .navigation__item__menu {
     display: block;
     /* float: right; */
     width: -webkit-fit-content;
     width: -moz-fit-content;
     width: fit-content;
 }
 
 .navigation__item__social {
     margin: 0 auto;
     padding-right: 50px;
     width: -webkit-fit-content;
     width: -moz-fit-content;
     width: fit-content;
 }


.navigation img {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 0 auto;
}

.navigation--small {
    height: 65px;
}

.navigation--small img {
    -webkit-transform: scale(.85);
        -ms-transform: scale(.85);
            transform: scale(.85);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.not-fixed {
    position: relative;
}



.filler {
    height: 70px;
}

.navigation__item__logo {
    height: 50px;
    cursor: pointer;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.navigation__item__menu__item {
    display: -ms-inline-grid;
    display: inline-grid;
    margin: 0px 5px;
}

.navigation__item__social__item {
    height: 30px;
    display: inline-block;
    margin: 5px;
    width: 30px;
}



.top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 99;
    display: none;
}

img.top__img {
    -webkit-filter: grayscale(100) invert(100%) contrast(100);
            filter: grayscale(100) invert(100%) contrast(100);
    height: 40px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
}

.navigation-visible {
    opacity: 1 !important;
    background-color: transparent;
    display: -ms-grid !important;
    display: grid !important;
    pointer-events: all;
    z-index: 98;
}


.text-bold{
    font-weight: 500;
}
/*=====  End of NAVIGATION BAR  ======*/

/*=============================================
=                    MODULE                   =
=============================================*/

.module__header {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 40px auto;
    display: block;
}

.module__content {
    height: 100%;
    width: 90%;
    margin: 2rem;
}

/*=============================================
=                     HOME                    =
=============================================*/

/*=====  End of HOME  ======*/

.module__home {
    /* display: grid; */
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 475px;
    width: 100%;
}

.module__home__image {
    width: 100vw;
    height: inherit;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../media/pic1.jpg");
    background-position: center center;
    -webkit-clip-path: polygon(0 0px , 100% 0, 100% calc(100% - 90px), 0 100%);
    clip-path: polygon(0 0px , 100% 0, 100% calc(100% - 90px), 0 100%);
    position: absolute;
    z-index: -1;
    max-width: 100%;
    overflow: hidden;
}

.module__home__image:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background-image: -webkit-gradient(linear,left top, right top,from(rgba(252, 195, 71, 1)), to(rgba(184, 143, 54, .7)));
    background-image: -webkit-linear-gradient(left,rgba(252, 195, 71, 1), rgba(184, 143, 54, .7));
    background-image: -o-linear-gradient(left,rgba(252, 195, 71, 1), rgba(184, 143, 54, .7));
    background-image: linear-gradient(to right,rgba(252, 195, 71, 1), rgba(184, 143, 54, .7));
    /* opacity: .75; */
    z-index: 1;
}

.module__home__content_block {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    /* text-align: center; */
    padding: 50px;
}

.module__home__content_block img {
    height: 220px;
}

.module__episode__content__cta {
    text-align: center;
}

/*=====  End of MODULE  ======*/

/*=============================================
=                    ABOUT                    =
=============================================*/

.module__about {
    position: relative;
    height: 100%;
}

.module__about__image {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../media/pic1.jpg");
    background-position: center center;
    background-attachment: fixed;
    -webkit-clip-path: polygon(var(--polygon-top-bottom));
            clip-path: polygon(var(--polygon-top-bottom));
    position: absolute;
    z-index: -1;
}

.module__about__image:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(var(--color-blue_darker)), to(var(--color-blue_darker)));
    background-image: -webkit-linear-gradient(bottom, var(--color-blue_darker), var(--color-blue_darker));
    background-image: -o-linear-gradient(bottom, var(--color-blue_darker), var(--color-blue_darker));
    background-image: linear-gradient(to top, var(--color-blue_darker), var(--color-blue_darker));
    opacity: .75;
    z-index: 1;
}

.module__about__text {
    display: block;
    padding: 40px 0px;
    padding-bottom: 90px;
}

/*=====  End of ABOUT  ======*/

/*=============================================
=                 ARROW DOWN                 =
=============================================*/

.arrow-down img {
    width: 30px;
    height: auto;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: calc(50% - 15px);
    bottom: -20px;
}

/*=====  End of ARROW DOWN  ======*/

/*=============================================
=                  CONTACTS                   =
=============================================*/

.module__contacts {
    padding-top: 40px;
}

/*=====  End of CONTACTS  ======*/

.module__episodes {
    /* padding-top: 60px; */
    /* display: block; */
    /* padding-bottom: 40px; */
}

video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    /* top: calc(70% - 70px); */
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
}

.formulario {
    /* background-color: var(--color-green_dark); */
    height: 100%;
}

.formulario__content {
    /* background:var(--color-green); */
    width: 80%;
    /* padding: 40px; */
    margin: 0 auto;
    display: block;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.formulario__content__field {
    display: inline-block;
    /* width: max-content; */
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"], input[type="email"] {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 0;
    -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    height: 30px;
    width: calc(100% - 190px);
    display: inline-block;
    text-align: left;
    padding: 5px;
    font-family: var(--font-secondary);
    margin: 20px 0px;
}

textarea {
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: 0;
    -webkit-box-shadow: 2px 2px rgba(0, 0, 0, .2);
            box-shadow: 2px 2px rgba(0, 0, 0, .2);
    padding: 5PX;
    width: calc(100% - 190px);
    font-family: var(--font-secondary);
    resize: none;
}

p.form-label {
    width: 100px;
    color: var(--color-white);
    display: inline-block;
    vertical-align: middle;
}

.text-area {
    vertical-align: top !important;
}

.module__block {
    margin-bottom: 50px;
}

.module__content__sub {
    padding: 40px;
}

h4 {
    font-size: 1.5em;
    font-family: var(--font-primary);
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/*=============================================
=                NEW ACCORDION                =
=============================================*/

.accordion {
    max-width: 960px;
    margin: 4rem auto;
    width: 90%;
    font-family: var(--font-secondary);
    /* background: #f4f4f4; */
    display: BLOCK;
    HEIGHT: max-content;
}

.accordion__item {
    background-color: var(--color-blue_dark);
    margin: 10px;
}

.accordion__title {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 1.5rem;
    background: var(--color-blue);
    color: white;
    cursor: pointer;
    border-bottom: 5px solid var(--color-blue_dark);
    /* margin-bottom: 5px; */
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    font-weight: bold;
    font-family: var(--font-primary);
}

.accordion__title:hover {
    background: var(--color-blue_darker);
}

.accordion__copy {
    display: none;
    padding: 1rem;
    color: var(--color-white);
    line-height: 1.6;
    font-size: .95em;
}

.accordion__copy--open {
    display: block;
}

/*=====  End of NEW ACCORDION  ======*/

form#mc-embedded-subscribe-form {
    PADDING: 50px 0px;
    width: 90%;
    margin: auto;
    max-width: 1200px;
}



._3col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 960px;
    margin: 0 auto;
}

._4col {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 960px;
    margin: 0 auto;
}

.form--bggreen {
    background-color: var(--color-green);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-bottom: 5px solid var(--color-green_dark);
}

.form--bggreen_dark {
    background-color: var(--color-green_dark);
}

.youtube--wrapper {
    /* background: green; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2.3fr 1fr;
    grid-template-columns: 2.3fr 1fr;
    padding: 10px;
    max-width: 960px;
    margin: 0 auto;
}

.youtube--wrapper--col {
    /* background: red; */
    display: -ms-grid;
    display: grid;
    /* align-content: space-evenly; */
    /* height: 100%; */
}

.youtube--wrapper--col--latestvideo {
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 */
    position: relative;
    background: url('../media/loading.gif');
    -webkit-background-size: contain;
            background-size: contain;
    background-color: white;
    background-position: center;
}

.youtube--wrapper--col--thumbs {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    /* grid-gap: 20px; */
    /* height: 100%; */
    /* align-content: space-between; */
    /* margin-left: 10px; */
    background: var(--color-grey_dark);
    padding: 5px;
}

.youtube--thumb {
    width: 100%;
    padding-bottom: 57.25%;
    /* 16:9 */
    position: relative;
    background: pink;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat: no-repeat;
}

.youtube--wrapper--video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fullpage--container {
    display: -ms-grid;
    display: grid;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.fullpage--modal {
    width: 50%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: -ms-grid;
    display: grid;
    background-color: var(--color-white);
    margin: auto;
    -webkit-transform: skew(-8deg) rotate(-4.5deg);
        -ms-transform: skew(-8deg) rotate(-4.5deg);
            transform: skew(-8deg) rotate(-4.5deg);
}

.fullpage--modal--title {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    font-family: var(--font-primary);
    padding: 1em;
    padding-bottom: 0px;
}

.fullpage--modal--text {
    padding: 2rem;
    padding-bottom: 1rem;
    font-family: var(--font-secondary);
    text-align: center;
}

.fullpage--modal--number {
    font-family: var(--font-primary);
    text-align: center;
    font-size: 2em;
    padding-bottom: 1rem;
}

footer{
    background-color: var(--color-grey_dark);
}

.footer-wrapper{

padding: 30px 0px;
}

.footer--item {
    padding: 1rem;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    font-family: var(--font-secondary);
    color: white;
    font-size: 0.76rem;
    text-align: center;
}

span.footer--item--title {
    font-family: var(--font-primary);
    font-size: 1.25em;
    font-weight: bold;
}

.logo-escs {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
    height: 45px;
    margin: 0 auto;
}

.rtp-play {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row-align: center;
        align-self: center;
    height: 20px;
}

.heart img {
    /* height: 10px; */
    width: 14px;
    display: inline;
    vertical-align: middle;
}



.youtube--thumb--caption {
    font-family: var(--font-secondary);
    color: white;
    font-size: .9em;
    /* margin-top: 5px; */
    margin-left: 10px;
}

.youtube--thumb--wrapper {
    cursor: pointer;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

.youtube--thumb--wrapper:hover {
    background: var(--color-red);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.youtube--thumb--wrapper:hover .youtube--thumb--caption {
    color: white;
     -webkit-transition: all .2s ease-in-out;
     -o-transition: all .2s ease-in-out;
     transition: all .2s ease-in-out;
}

a.imagem-escs img {
    position: fixed;
    top: 0;
    right: 0;
    height: 65px;
    z-index: 999999999;
}

#youtube-icon, #instagram-icon, #facebook-icon, #rtpPlay-icon{
    fill: white;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}

a svg:hover #youtube-icon{
    fill: #ff0000;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}

a svg:hover #instagram-icon{
    fill: #e1306c;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}

a svg:hover #facebook-icon{
    fill: #3b5998;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a svg:hover #rtpPlay-icon{
fill: #0772FA;
-webkit-transition: all .2s ease-in-out;
-o-transition: all .2s ease-in-out;
transition: all .2s ease-in-out;
}



/*=============================================
=                POST CSS ADDS                =
=============================================*/
.no-padding {
    padding: 0;
}

.madewithlove p {
    font-family: monospace;
    font-size: .75rem;
}

div#mc_embed_signup_scroll {
    max-width: 600px;
    margin: 0 auto;
}

/*=====  End of POST CSS ADDS  ======*/


/*=============================================
=              EPISODES SECTION               =
=============================================*/

#episodes{
    z-index: 2;
}


/*=====  End of EPISODES SECTION  ======*/


/*=============================================
=                 MOBILE MENU                 =
=============================================*/

#mobile-menu{
    display: none
}

  .mobile-menu-button {
    height: 65px;
    width: 65px;
    position: fixed;
    right: 22px;
    bottom: 25px;
    z-index: 101;
    background-color:var(--color-yellow);
    -webkit-transform: skew(-8deg) rotate(-4.5deg);
    -ms-transform: skew(-8deg) rotate(-4.5deg);
    transform: skew(-8deg) rotate(-4.5deg);
    cursor: pointer;
  }

  
  /* Linhas */
  
  
  .mobile-menu-button > span {
    background-color: #fff;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    height: 2px;
    width: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -1px 0 0 -15px;
    -webkit-transition: height 100ms;
    -o-transition: height 100ms;
    transition: height 100ms;
  }
  .mobile-menu-button > span:after,
  .mobile-menu-button > span:before {
    content: '';
    background-color: #fff;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 50%;
    margin-left: -15px;
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
  }
  .mobile-menu-button > span:after {
    top: -7px;
  }
  .mobile-menu-button > span:before {
    bottom: -7px;
  }
  .mobile-menu-button.active > span {
    height: 0;
  }
  .mobile-menu-button.active > span:after,
  .mobile-menu-button.active > span:before {
    background-color: white;
    top: 1px;
  }
  .mobile-menu-button.active > span:after {
    -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        transform: rotate(45deg);
  }
  .mobile-menu-button.active > span:before {
    -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
  }

  
  /* ITENS MENU */
  
  
  .mobile-menu-button-wrapper {
    background-color: var(--color-grey_dark);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    display: table;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 2000px);
        transform: translate(0px, 2000px);
  }
  .mobile-menu-button-wrapper.active {
    opacity: .9;
    -webkit-transform:translate(0, 0);
    -ms-transform:translate(0, 0);
        transform:translate(0, 0);
    height: 100vh;
  }
  .mobile-menu-button-wrapper.active ul li {
    opacity: 1;
  }
  .mobile-menu-button-wrapper ul {
    display: table-cell;
    vertical-align: middle;
  }
  .mobile-menu-button-wrapper li {
    padding: 20px 0;
    -webkit-transition: all 400ms 510ms;
    -o-transition: all 400ms 510ms;
    transition: all 400ms 510ms;
    opacity: 0;
  }

  .mobile-menu-button-wrapper li {
    opacity: 0;
}

  .mobile-menu-button-wrapper a {
      font-family: var(--font-secondary);
      color: White;
      display: inline-block;
      font-size: 1.3rem;
  }


  .small_logo {
      display: none;
  }

span.link-item {
    display: block;
    margin-left: 10px
}

span.link-item.inline {
    display: inline;
    margin-left: 0;
}
span.link-item a {
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

span.link-item a:hover {
    color: black;
    border-bottom: 2px solid black;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

span.rubrica-item {
    -ms-grid-rows: 1fr 1fr 300px;
    grid-template-rows: 150px 300px;
    display: -ms-grid;
    display: grid;
    padding: 0 8px;
}

span.rubrica-item-link {
    display: block;
    /* width: min-content; */
    margin: 15px 0;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
} 

.rubrica-item-title {
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    font-weight: 500;
}

span.rubrica-item-link a {
    color: var(--color-white);
    font-family: var(--font-primary);
}

span.rubrica-item-copy {
    text-align: left;
    display: grid;
}

span.rubrica-item-copy-duration {
    /* font-weight: bold; */
    display: block;
}

.team {
    display: block;
    text-align: center;
}

.team-block {
    padding-bottom: 20px;
}

.team-category {
    font-family: var(--font-secondary);
    font-size: 1rem;
    font-weight: bolder;
}

section#destaques {
    padding: 30px  0 60px 0;
    clip-path: polygon(var(--polygon-top-bottom));
    background-size: cover;
    background-position: center;
    position: relative;
}

section#destaques:before {
    content: '';
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: max-content;
}


#destaques h4, #destaques p {
    transform: skew(-8deg) rotate(-4.5deg);
    background-color: white;
    width: max-content;
    padding: 5px 25px;
    margin: 0 auto;
    color: black;
    word-break: break-word;
    max-width: 80%;
}

.rubrica-item-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

span.rubrica-item-img img {
    width: auto;
    height: 100%;
}

span.rubrica-item-header-text {
    display: block;
    text-align: left;
}

span.rubrica-item-copy span {
    align-self: end;
    margin-bottom: 30px;
}

.team-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}   

/*=====  End of MOBILE MENU  ======*/



@media screen and (max-width: 960px) {
    ._1col, ._2col, ._3col, ._4col, .navigation, .team-wrapper, .rubrica-item-header {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        width: 100%;
    }
    
#mobile-menu{
    display: initial
}

    :root{
        --polygon-top-bottom: 0 25px , 100% 0, 100% calc(100% - 25px), 0 100%;

    }
    
    button.button--red.button--cta {
        padding: 10px 20px;
        margin: 10px 0px 60px  0px;
    }
    
    .module__content {margin: 20px auto;}

    .fullscreen-bg {
        display: none;
    }

    .module__home__content_block {
        padding: 0 20px;
    }
    
    .module__home__image {
        -webkit-clip-path: polygon(0 0 , 100% 0, 100% calc(100% - 25px), 0 100%);
                clip-path: polygon(0 0 , 100% 0, 100% calc(100% - 25px), 0 100%);
        /* height: max-content; */
    }
    .youtube--wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    
    .youtube--wrapper--col--thumbs {
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    }    
    
    input[type="text"], input[type="email"], textarea {
        width: 100%;
    }
    input[type="text"], input[type="email"] {
        margin-top: 0px;
    }
    .module__home {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: auto;
        grid-template-columns: auto;
        height: initial;
        height: 100vh;
    }
    
    nav {
        display: none;
    }

    .navigation {
        display: none !important;
        
    }
    #episodes:before {
        height: 10%;
    }

    .module__header {
        margin: 40px auto;
    }

    .module__home__image:before {
        background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(252, 195, 71, 1)), to(rgba(184, 143, 54, .7)));
        background-image: -webkit-linear-gradient(top,rgba(252, 195, 71, 1), rgba(184, 143, 54, .7));
        background-image: -o-linear-gradient(top,rgba(252, 195, 71, 1), rgba(184, 143, 54, .7));
        background-image: linear-gradient(to bottom,rgba(252, 195, 71, 1), rgba(184, 143, 54, .7));
    }

    .imagem-escs{
        display: none;
    }

    .mobile-menu-button-wrapper a {
        display: inline;
    }

    span.rubrica-item-header {
        display: grid;
        grid-template-columns: 1fr;
    }

    .small_logo {
        display: block;
        position: fixed;
        top: 0;
        z-index: 99;
        height: 50px;
        left: 15px;
        top: 15px;
        opacity: 0;
        transition: all .2s ease-in-out;
    }
    
    .small_logo.visible{
        opacity: 1;
        transition: all .2s ease-in-out;
    
    }

    .rubrica-item {
        display: block;
    }
} 