/**
*
* CSS da LANDING PAGE do E2
* DEZEMBRO 2018
*
*/

/*=============================================
=                    RESET                    =
=============================================*/

/* LIMPAR ESTILOS QUE VEM POR DEFEITO EM TODOS OS BROWSERS PARA REDUZIR INCONSISTENCIAS */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*=====  End of RESET  ======*/

/*=============================================
=                    FONTS                    =
=============================================*/

@font-face {
    font-family: 'Avenir Next Bold';
    src: url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.eot');
    src: local('Avenir Next LT Pro Bold Condensed'), local('AvenirNextLTPro-BoldCn'), url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.eot?#iefix') format('embedded-opentype'), url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.woff2') format('woff2'), url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.woff') format('woff'), url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.ttf') format('truetype'), url('../media/fonts/hinted-AvenirNextLTPro-BoldCn.svg#AvenirNextLTPro-BoldCn') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../media/fonts/AvenirLTStd-Light.eot');
    src: local('Avenir LT Std 35 Light'), local('AvenirLTStd-Light'), url('../media/fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'), url('../media/fonts/AvenirLTStd-Light.woff2') format('woff2'), url('../media/fonts/AvenirLTStd-Light.woff') format('woff'), url('../media/fonts/AvenirLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
/*=====  End of FONTS  ======*/

/*=============================================
=                   VARIABLES                 =
=============================================*/

:root {
    --color-grey_dark: #1d1e1c;
    --color-grey_middle: #b1b1b1;
    --color-grey_light: #e6e5e5;
    --color-red: #e8423a;
    --color-green: #39b080;
    --color-green_dark: #309971;
    --color-yellow: #fcc347;
    --color-blue: #3a79bd;
    --color-blue_dark: #3073aa;
    --color-blue_darker: #063759;
    --color-white: #ffffff;
    --font-primary: 'Avenir Next Bold', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-secondary: 'Avenir Lt Std', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*=====  End of VARIABLES  ======*/

/*=============================================
=               GENERAL STYLES                =
=============================================*/

* {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    overflow-x: hidden;
}

img {
    height: 100%;
}

h2, h3, h6 {
    font-family: var(--font-primary);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-white);
}

h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

h3 {
    padding: 10px 20px;
    transform: skew(-8deg) rotate(-4.5deg);
    font-size: 1.6em;
}

h6 {
    font-size: .9em;
    padding: 10px;
}

h6:hover {
    background-color: var(--color-white);
    color: var(--color-grey_dark);
    transition: all .2s ease-in-out;
}

p {
    font-family: var(--font-secondary);
    margin-bottom: 10px;
}

button, .button {
    padding: 10px 20px;
    width: max-content;
    margin: 0 auto;
    text-transform: uppercase;
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    color: var(--color-white);
    font-family: var(--font-primary);
    cursor: pointer;
    transition: all .3s ease;
    margin: 20px auto;
}

.button--red:hover, .button--blue:hover {
    transform: scale(1.1);
}

.button--red {
    background-color: var(--color-red);
}

.button--blue {
    background-color: var(--color-blue);
}

.button--cta {
    margin: 30px;
    padding: 10px 30px;
    font-size: 1.2em;
}

.button--cta:hover {
    transform: scale(1.1);
}

.buttons {
    width: max-content;
    margin: 0 auto;
}

.button {
    margin: 0px 10px;
}

.container {
    display: block;
}

.white {
    color: var(--color-white);
}

.bg--red {
    background-color: var(--color-red);
    transition: all .2s ease-in-out;
}

.bg--blue {
    background-color: var(--color-blue);
    transition: all .2s ease-in-out;
}

.bg--green {
    background-color: var(--color-green);
    transition: all .2s ease-in-out;
}

.bg--green--dark {
    background-color: var(--color-green_dark)
}

.bg--yellow {
    background-color: var(--color-yellow);
    transition: all .2s ease-in-out;
}

.bold {
    font-weight: bold;
}

.bg--grey--dark {
    background-color: var(--color-grey_dark)
}

/*=====  End of GENERAL STYLES  ======*/

/*=============================================
=                 GRID SYSTEM                 =
=============================================*/

._1col {
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

._2col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    /* width: 100vw; */
}

/*=====  End of GRID SYSTEM  ======*/

/*=============================================
=                NAVIGATION BAR               =
=============================================*/

.navigation {
    background-color: var(--color-grey_dark);
    opacity: 1;
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    grid-gap: 20px;
    height: 70px;
    /* justify-items: center; */
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100vw;
    transition: all .2s ease-in-out;
}

.navigation img {
    transition: all .2s ease-in-out;
    margin: 0 auto;
}

.navigation--small {
    height: 50px;
}

.navigation--small img {
    transform: scale(.85);
    transition: all .2s ease-in-out;
}

.not-fixed {
    position: relative;
}

.filler {
    height: 70px;
}

.navigation__item {
    /* display: grid; */
}

.navigation__item__logo {
    height: 50px;
    cursor: pointer;
    margin: 0 auto;
    width: fit-content;
}

.navigation__item__menu__item {
    display: inline-grid;
    margin: 0px 5px;
}

.navigation__item__social__item {
    height: 30px;
    display: inline-block;
    margin: 5px;
}

.top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 1000;
    display: none;
}

img.top__img {
    filter: grayscale(100) invert(0%) contrast(100);
    height: 40px;
    transform: rotate(180deg);
}

/*=====  End of NAVIGATION BAR  ======*/

/*=============================================
=                    MODULE                   =
=============================================*/

.module__header {
    width: max-content;
    margin: 60px auto;
    display: block;
}

.module__content {
    height: 100%;
    width: 90%;
    margin: 2rem;
}

/*=============================================
=                     HOME                    =
=============================================*/

/*=====  End of HOME  ======*/

.module__home {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    /* width: 100%; */
}

.module__home__image {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../media/pic1.jpg");
    background-position: center center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    position: absolute;
    z-index: -1;
}

.module__home__image:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(to top, var(--color-green), var(--color-green));
    opacity: .75;
    z-index: 1;
}

.module__home__content_block {
    align-items: center;
    justify-content: center;
    display: grid;
    /* text-align: center; */
    padding: 50px;
}

.module__home__content_block img {
    height: 300px;
}

.module__episode__content__cta {
    text-align: center;
}

/*=====  End of MODULE  ======*/

/*=============================================
=                    ABOUT                    =
=============================================*/

.module__about {
    position: relative;
    height: 100%;
}

.module__about__image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../media/pic1.jpg");
    background-position: center center;
    background-attachment: fixed;
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
    position: absolute;
    z-index: -1;
}

.module__about__image:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    background-image: linear-gradient(to top, var(--color-blue_darker), var(--color-blue_darker));
    opacity: .75;
    z-index: 1;
}

.module__about__text {
    display: block;
    padding: 40px 0px;
}

/*=====  End of ABOUT  ======*/

/*=============================================
=                 ARROW DOWN                 =
=============================================*/

.arrow-down img {
    width: 30px;
    height: auto;
    margin: 0 auto;
    display: block;
    position: absolute;
    left: calc(50% - 15px);
    bottom: -20px;
}

/*=====  End of ARROW DOWN  ======*/

/*=============================================
=                  CONTACTS                   =
=============================================*/

.module__contacts {
    padding-top: 40px;
}

/*=====  End of CONTACTS  ======*/

.module__episodes {
    padding-top: 40px;
    display: block;
}

video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    /* top: calc(70% - 70px); */
    transform: translate(-50%, 0%);
}

.formulario {
    background-color: var(--color-green_dark);
    height: 100%;
}

.formulario__content {
    /* background:var(--color-green); */
    width: 80%;
    /* padding: 40px; */
    margin: 0 auto;
    display: block;
    height: max-content;
}

.formulario__content__field {
    display: inline-block;
    /* width: max-content; */
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"], input[type="email"] {
    border-radius: 5px;
    border: 0;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    height: 30px;
    width: 70%;
    display: inline-block;
    text-align: left;
    padding: 5px;
    font-family: var(--font-secondary);
    margin: 20px 0px;
}

textarea {
    border-radius: 5px;
    border: 0;
    box-shadow: 2px 2px rgba(0, 0, 0, .2);
    padding: 5PX;
    width: 70%;
    font-family: var(--font-secondary);
    resize: none;
}

p.form-label {
    width: 100px;
    color: var(--color-white);
    display: inline-block;
    vertical-align: middle;
}

.text-area {
    vertical-align: top !important;
}

.module__block {
    margin-bottom: 50px;
}

.module__content__sub {
    padding: 40px;
}

h4 {
    font-size: 1.5em;
    font-family: var(--font-primary);
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

/*=============================================
=                NEW ACCORDION                =
=============================================*/

.accordion {
    max-width: 1200px;
    margin: 4rem auto;
    width: 90%;
    font-family: var(--font-secondary);
    /* background: #f4f4f4; */
    display: BLOCK;
    HEIGHT: max-content;
}

.accordion__item {
    background-color: var(--color-blue_dark);
    margin: 10px;
}

.accordion__title {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 1.5rem;
    background: var(--color-blue);
    color: white;
    cursor: pointer;
    border-bottom: 5px solid var(--color-blue_dark);
    /* margin-bottom: 5px; */
    transition: .3s ease;
    font-weight: bold;
    font-family: var(--font-primary);
}

.accordion__title:hover {
    background: var(--color-blue_darker);
}

.accordion__copy {
    display: none;
    padding: 1rem;
    color: var(--color-white);
    line-height: 1.6;
    font-size: 1em;
}

.accordion__copy--open {
    display: block;
}

/*=====  End of NEW ACCORDION  ======*/

form#mc-embedded-subscribe-form {
    PADDING: 65px 0px;
}

@media only screen and (max-width: 900px) {
    .module__home__content_block {
        display: block;
    }
    ._2col {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .module__home__image {
        height: 15%;
    }
    .navigation {
        grid-template-columns: 1fr;
        grid-gap: 0px;
        height: max-content;
        position: initial;
    }
    .navigation__item {
        display: grid;
        margin: 15px;
    }
    .navigation__item__menu {
        margin: 10px 0px;
    }
    .navigation__item__menu__item {
        display: block;
        margin: 5px;
    }
    .filler {
        height: 180px;
        display: none;
    }
    h6 {
        font-size: 1.4em;
    }
    .navigation__item__social__item {
        height: 50px;
        margin: 10px;
    }
    .ibacordotcom_vid_play {
        /* height: max-content; */
        /* overflow: hidden; */
        display: block;
    }
    .ibacordotcom-unit.ibacordotcom-vid-kenca {
        height: max-content;
        display: block;
    }
    .formulario__content__field {
        display: block;
    }
    p.form-label {
        display: block;
        text-align: center;
        width: 100%;
    }
    input[type="text"], input[type="email"] {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
    input[type="email"] {
        margin: 25px 0px;
    }
    div#mc_embed_signup {
        display: block;
    }
}

._3col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    height: fit-content;
}

.form--bggreen {
    background-color: var(--color-green);
    transition: all .2s ease-in-out;
    border-bottom: 5px solid var(--color-green_dark);
}

.form--bggreen_dark {
    background-color: var(--color-green_dark);
    transition: all .2s ease-in-out;
}

.youtube--wrapper {
    /* background: green; */
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.youtube--wrapper--col {
    /* background: red; */
    display: grid;
    /* align-content: space-evenly; */
    /* height: 100%; */
}

.youtube--wrapper--col--latestvideo {
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 */
    position: relative;
    background: url('../media/loading.gif');
    background-size: contain;
    background-color: white;
    background-position: center;
}

.youtube--wrapper--col--thumbs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-gap: 20px; */
    height: 100%;
    align-content: space-between;
    /* margin-left: 10px; */
    background: var(--color-grey_dark);
}

.youtube--thumb {
    width: 100%;
    padding-bottom: 57.25%;
    /* 16:9 */
    position: relative;
    background: pink;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.youtube--wrapper--video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.fullpage--container {
    display: grid;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 1fr;
    align-items: center;
    overflow: hidden;
}

.fullpage--modal {
    width: 50%;
    height: min-content;
    display: grid;
    background-color: var(--color-white);
    margin: auto;
    transform: skew(-8deg) rotate(-4.5deg);
}

.fullpage--modal--title {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    font-family: var(--font-primary);
    padding: 1em;
    padding-bottom: 0px;
}

.fullpage--modal--text {
    padding: 2rem;
    padding-bottom: 1rem;
    font-family: var(--font-secondary);
    text-align: center;
}

.fullpage--modal--number {
    font-family: var(--font-primary);
    text-align: center;
    font-size: 2em;
    padding-bottom: 1rem;
}

.footer--item {
    padding: 1rem;
}

.navigation{
   opacity: 0;
   transition: all .2s ease-in-out;

}

.visible{
    opacity: 1 !important;
    transition: all .2s ease-in-out;
}

.navigation__item__menu {
    display: block;
    /* float: right; */
    width: fit-content;
}

img {}

.navigation__item__social {
    margin: 0 auto;
    width: fit-content;
}

.youtube--thumb--caption {
    font-family: var(--font-secondary);
    color: white;
}

.youtube--thumb--wrapper {
    cursor: pointer;
    padding: 15px;
}

.youtube--thumb--wrapper:hover {
    background: var(--color-red);
    transition: all .2s ease-in-out;
}

.youtube--thumb--wrapper:hover .youtube--thumb--caption {
    color: white;
     transition: all .2s ease-in-out;
}