@charset "utf-8";
/* CSS Document */

/* LIMPAR E DEFINIR INSTRUÇÕES GERAIS (o * é DEUS) */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
    font-family: 'din', sans-serif;
    box-sizing: border-box; /* Tanto o padding como o border serão adicionados no interior do elemento, sem alterar a altura e a largura deste */ 
}

html{
    max-width: 1928px;
    margin: 0 auto;
}

/* TÉCNICA PARA QUE AS DIVS PARENT QUE CONTÉM ELEMENTOS COM O FLOAT SE MANTENHAM A FUNCIONAR CORRETAMENTE */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*** BARRA DE TOPO ***/
.top_menu {
    width: 100%;
    height: 75px;
    z-index: 2;
    position: absolute;
}

.logo {
    float: left;
    width: 40px;
    height: auto;
    margin-left: 2%;
    margin-top: 20px;
}

.menu{
    padding-top: 32px;
    width: 50%;
    right: 0;
}

.menu a{
    float: right;
    margin-right: 2%;
    color: #3A79BD;
    background: white;
    letter-spacing: 3px;
    padding: 10px;
    font-size: 0.9em;
    font-weight: 300;
    text-transform: upper;
    font-family: "Poppins", sans-serif;
        /* transition*/
        -webkit-transition: 0.5s; /* Para que esta transição funcione nas versões do browser safari da 3.1 à 6.0 */
        transition:0.5s;
}

.menu a:hover {
    color: white;
    background-color: #3A79BD;
}

.menu_link:nth-child(3){ /* forma de nos referirmos a todos os elementos multiplos de 3 com a class menu_link */
    margin-right: 0;
}

.menu_mobile {
    display: none;
    float: right;
}

.menu_mobile img{
    width: 20px;
    height: auto;
}

/*** SECÇÃO INTRO ***/
.intro_section {
    width: 100%;
    height: 600px; /* Viewport Height */
    background-size: cover;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
}
.intro_section:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  background-image: linear-gradient(to top, #3A79BD, #3A79Bd);
  opacity: .6;
  z-index: 1;
}
.intro_section img{
    z-index: 0;
}
.flex_container{ /* Alinhamento Vertical */
    display: flex; /* Mostrar os elementos block */
    align-items: center; /* Vertical Center Alignment */
    justify-content: center; /* Horizontal Center Alignment */
}

.intro_section h1{
    font-size: 1.5rem;
    background: #E8423A;
    padding: 5px;
    text-align: center;
    color: white;
    font-family: "din", sans-serif;
    clear: both;
    z-index: 2;
}

.intro_section p{
    margin-top: 0px;
    background-color: #E8423A;
    padding: 10px;
    color: white;
    text-align: center;
    z-index: 99000;
}

/*** SECÇÃO SERVICES ***/
h2{
    font-size: 3rem;
    text-align: center;
    color: white;
    font-family: "din light", sans-serif;
    letter-spacing: 2px;
    width: 40%;
}

.services_section {
    padding: 30px;
    width: 100%;
    background-color: #3A79BD;
    float: left;
    display: inline-block;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.services_section h2{
    display: inline-block;
}
.services_section p {
    width: 45%;
    margin-bottom: 30px;
    display: inline-block;
    float: right;
    margin-right: 8%;
    font-size: 1.5rem;
    color: white;
}
.videos_section{
    width: 96%;
    height: auto;
    float: left;
}
.videos_section h2{
    color: black;
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}

/*** SECÇÃO FOOTER ***/
footer {
    width: 100%;
    height: 100px;
    background-color: #3A79BD;
    float: left;
    text-align-last: center;
    clip-path: polygon(0 34%, 100% 0, 100% 100%, 0% 100%);

}
footer p{
    color: white;
    line-height: 100px;
    font-family: "din light", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
}

/** MEDIA QUERIES - ecrãs com largura até 768px **/

@media screen and (max-width:960px) {
    .portfolio_item {
        width: 50%;
    }
    }

@media screen and (max-width:768px){
    .logo{
        width: 100px;
        height: auto;
        margin-top: 35px;
    }
    .menu_link {
        display: none;
    }
    
    .menu_mobile {
        display: block;
    }
    
    h1{font-size: 60px;}
    
    h2{font-size: 40px;}
    
    .service{
        width:100%;
        margin-bottom: 30px;
    }
    .portfolio_item{
        width: 100%
    }
}





.video{
    height: auto;
    text-align: center;
    margin: 3% 0 3% 0;
}
.video_principal{
    height: 340px;
    width:40rem;
    margin-right: 2%;
    display: inline-block;
}

.videos_lado{
    height: 167px;
    display: inline-block;
    width: 15rem;
}
.videos_lado iframe{
    padding-bottom: 4%;
}

.videos_lado iframe:last-child{
    padding-bottom: 0%;
}

.video iframe{
	width: 100%;
	height: 100%;
}